#navbar{
    display:flex;
    justify-content: space-between;
    padding:20px;
    border-radius: 20px;
    width:80%;
    margin: auto;
    background-color: black;

}
#navbar a{
    text-decoration: none;
    color:white;
}   


#container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    margin-top: 100px;
    width:80%;
     gap:30px;
}
.box{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box>img{
    width:60%;
    height:auto;
    
}
#cartbox{

        display:grid;
        grid-template-columns: repeat(3,1fr);
        margin: auto;
        margin-top: 100px;
        width:80%;
         gap:30px;
}
#sort{
    display: flex;
    margin-left: 10%;
    margin-top: 50px;
}
#sortInput{ 
    background-color: white;
    color:red;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    margin-left: 20px;
}
#sort>h3{
    color:black;
}


